@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: #222221;
  margin: 0;
}

body::before{
  content:'';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #f5f5f5;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}

input, textarea, select {
  border: 1px solid #222221;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid #222221;
  outline: none;
}
